html,body{
    font-family: 'Poppins', sans-serif;
}
.navbar-right{
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}

.nav-item .nav-link.button-register{
    color: #fff;
    font-size: 13px;
    padding: 4px 12px;
    margin-left: 10px;
}
.nav-item .nav-link.button-register:hover{
    color: #fff;
    font-size: 13px;
    padding: 4px 12px;
    margin-left: 10px;
}

.navbar-brand{
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.5px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 600;
}

.section-jumbotron{
    margin-top: 5rem;
}

.nav-link:active{
    color: rgba(0, 0, 0, 0.9);
}
.image-jumbotron{
    width: 100%;
    border-radius: 0 10px 10px;
}

.wrapper-headline{
    padding:0 2rem 0 0;
}

.headline-h1{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.3;
}

.headline-paragraf{
    font-size: 1rem;
    font-weight: 500;
    width: 81%;
    letter-spacing: 0.5px;
    line-height: 1.6;
}

.section-client{
    background: #f9f9f9;
    border-radius: 0px 77px 0 0px;
    margin-top: 5rem;
}

.row-client{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-client img{
  width: 100px;
  height: 100px;
  margin:0 auto
}

.colum-client{
    text-align: center;
    margin:3rem 0px;
    margin-right: 4rem;
}

.headline-client{
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 2rem;
}

.section-tabs{
    padding-top:5rem;
}

.wrapper-card{
    border: 1px solid #eeeeee;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 1.5s;
    cursor: pointer;
}

.harga-paket{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.wrapper-card button{
    outline: 0;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    background: #87a6d3;
    color: white;
}

.wrapper-card:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transform: scale(1.2);
}

.harga-popular{
    background: blue;
    color: white;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.title-email{
    font-weight: 600;
    font-size: 2rem;
}

.input-group{
    position: relative;
}

.input-group input{
    border-radius: 20px;
}

.section-subscribe-email .input-group button{
    border-radius: 19px;
    position: relative;
    right: 0;
    background: #585252;
    color: #fff;
}

.wrapper-caption-card-says h1{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 80%;
}

.wrapper-caption-card-says h4{
width: 70%;
margin-bottom: 1rem;
}

.wrapper-caption-card-says p{
width: 80%;
font-size: 14px;
}

.image-card-says img{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    border-radius: 10px;
}

.section-pilih-harga{
margin: 5rem 0px;
}

.wrapper-card-harga{
    text-align: center;
}

.wrapper-card-harga h1{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.wrapper-card-harga p{
    font-size: 20px;
    margin-bottom: 2rem;
}

.wrapper-card-harga button{
    font-weight: 400;
    font-size: 18px;
    color: white;
    border-radius: 10px;  
    padding: 5px 60px;  
}

.section-footer{
    background-color: #eaeaea;
    border-radius: 100px 0 0 0;
}

.row-sub-footer{
    padding: 5rem 0px;
}

.wrapper-col-1 h1{
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.wrapper-col-1 p{
    font-size: 14px;
    width: 90%;
}

.wrapper-icon img{
    width: 25px;
    margin-right: 1rem;
}

.wrapper-col-2 {
display: flex;
flex-direction: column;
}

.wrapper-col-2 h1{
font-size: 1.5rem;
margin-bottom: 1rem;
}

.wrapper-col-2 a{
color: #000;
font-size: 16px;
text-decoration: none;
margin-bottom: 0.5rem;
}


.wrapper-col-3 {
display: flex;
flex-direction: column;
}

.wrapper-col-3 h1{
font-size: 1.5rem;
margin-bottom: 1rem;
}

.wrapper-col-3 a{
color: #000;
font-size: 16px;
text-decoration: none;
margin-bottom: 0.5rem;
}

.wrapper-col-4 {
display: flex;
flex-direction: column;
}

.wrapper-col-4 h1{
font-size: 1.5rem;
margin-bottom: 1rem;
}

.wrapper-col-4 a{
color: #000;
font-size: 16px;
text-decoration: none;
margin-bottom: 0.5rem;
}

.wrapper-last-footer{
    padding: 1rem 0;
    border-top: 2px solid #bdbdbd;
}





@media only screen and (max-width: 767px) {
    .section-subscribe-email .input-group{
        width: 80%;
        margin: 0 auto;
    }
    
    
    .section-jumbotron{
        margin-top: 3rem;
    }
    .row-jumbotron {
        flex-direction: column-reverse;
    }

    .wrapper-headline {
        text-align: center;
        margin-top: 2rem;
        padding: 0;
    }

    .headline-h1{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .headline-paragraf{
        font-size: 14px;
        width: 100%;
    }

    .wrapper-caption-card-says{
        text-align: center;
        margin-bottom: 3rem;
    }

    .wrapper-caption-card-says h1{
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .wrapper-caption-card-says h4{
    width: 100%;
    margin-bottom: 1rem;
    }
    
    .wrapper-caption-card-says p{
    width: 100%;
    font-size: 14px;
    }

    .wrapper-card-harga h1{
        font-size: 2.3rem;
    }

    .wrapper-last-footer{
        text-align: center;
        flex-direction: column;
    }

    .copyright{
        font-size: 12px;
        margin-bottom: 1rem;
    }

    .harga-terjangkau{
        font-size: 12px;
    }

    .colum-client{
        margin-right: 1rem;
    }
 
    .row-client img{
        width: 80px;
        height: 80px;
        margin:0 auto
      }

      .headline-client{
          font-size: 1.7rem;
      }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .row-jumbotron {
        flex-direction: column-reverse;
    }

    .wrapper-headline {
        text-align: center;
        margin-top: 2rem;
        padding: 0;
    }

    .headline-h1{
        font-size: 2.5rem;
    }

    .headline-paragraf{
        width: 100%;
    }

    .wrapper-caption-card-says{
        text-align: center;
        margin-bottom: 3rem;
    }

    .wrapper-caption-card-says h1{
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .wrapper-caption-card-says h4{
    width: 100%;
    margin-bottom: 1rem;
    }
    
    .wrapper-caption-card-says p{
    width: 100%;
    font-size: 14px;
    padding: 0px 9rem;
    }

    .copyright{
        font-size: 14px;
    }

    .harga-terjangkau{
        font-size: 14px;
    }

    .colum-client{
        margin-right: 2rem;
    }
  }

@media only screen and (min-width: 1024px) {
    .row-jumbotron {
        flex-direction: row;
    }
}
